<div class="collapse collapse-arrow bg-neutral text-neutral-content mt-5">
    <input type="radio" name="advice-accordion" />
    <div class="collapse-title text-3xl font-medium">Advice <%= (idx + 1) %>
    </div>
    <div class="collapse-content">
        <p class="text-2xl font-semibold">
            <%= element.advice %>
        </p>
    </div>
</div>