<%- include('partials/header.ejs') %>
    <!-- Main Content -->
    <div class="hero bg-base-200 mt-10">
        <div class="hero-content flex-col lg:flex-row w-full">
            <img src="<%= photo %>" class="max-w-sm rounded-lg shadow-2xl" />
            <div class="m-12 lg:w-2/5 flex-1">
                <h1 class=" text-3xl lg:text-5xl font-bold text-center lg:text-start lg:leading-snug ">
                    "<%= JSON.parse(JSON.stringify(content)) %>"
                </h1>

            </div>
        </div>
    </div>

    <% if(content!=='Page Not Found' && content !=='Uh oh, Something Broke...' ) { %>
        <div class="bg-base-200 flex items-center justify-center my-16 gap-5">
            <form id="myForm" method="post" class="flex flex-col gap-5 items-center md:flex-row">
                <button formaction="/new-advice" type="submit" class="btn btn-accent btn-wide lg:btn-lg">Get a new
                    advice!</button>
                <div class="join">
                    <div class="input lg:input-lg input-bordered flex items-center join-item ">
                        <input type="text" id="queryInput" name="query" class="grow bg-accent rounded-box outline-none"
                            placeholder="Search for an advice">
                    </div>
                    <button type="submit" class="btn lg:btn-lg btn-accent join-item rounded-r-full "
                        formaction="/search">Search</button>
                </div>
            </form>
        </div>
        <% } %>

            <%- include('partials/footer.ejs') %>